body {
  background-color: #F0F8FF;
}
h1 {
  font-size: 40px;
  margin-left: 140px;
}
h2 {
  font-size: 33px;
}
ul {
  font-size: 20px;
  line-height: 3;
}
nav {
  background-color: #A9A9A9;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 6px #87CEEB;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  float: left;
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 25px;
  transition: all 0.3s ease;
}
nav a:hover {
  background-color: #B0B0B0;
  color: #333;
  transform: scale(1.1);
}
nav a.active {
  background-color: #B0B0B0;
  color: #333;
  transform: scale(1.1);
}
nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #87CEEB;
  transition: width 0.3s;
}
nav a:hover::after {
  width: 100%;
}

.main-news {
  background-color: #D3D3D3;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px; 
}

.main-news img {
  width: 90%;
  height: 500px;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 2%;
}

.main-news a, .main-news p {
  display: block;
  text-align: center;
  margin: 10px 0;
}

.sub-news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.sub-news-item {
  background-color: #D3D3D3;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.sub-news-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sub-news-item a {
  font-size: 18px;
  color: black;
  display: block;
  margin-top: 10px;
}

.sub-news-item p {
  font-size: 14px;
  margin-top: 5px;
}

footer {
  background-color: #A9A9A9;
  display: flex;
  align-items: center;
  justify-content: center;
}